body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


input[type="email"].input-validation-error{
    
}
textarea:invalid,
input:invalid {
    border: 2px solid red;
}

input:invalid:required,
textarea:invalid:required {
     border: 2px solid red;
}

input:valid,
textarea:valid {
    border: 2px solid black;
}

/* Стиль блока*/
.box1 {
    background: #E0FFFF; /* Цвет фона */
    padding: 10px; /* Поля */
}

/* Стиль заколовка*/
h12 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 48pt; /*Гегель шрифта*/
    font-weight: bold; /* Полужирный*/
    color: #8B0000; /*Цвет шрифта*/
}
/*Стиль текста p12*/
p12 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 28pt; /*Гегель шрифта*/
    color: #8B0000; /*Цвет шрифта*/
}
/*Стиль текста p13*/
p13 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 28pt; /*Гегель шрифта*/
    color: #000000; /*Цвет шрифта*/
}
/*Стиль текста p14*/
p14 {
    text-align: center; /*Размещаем текст по центру*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 16pt; /*Гегель шрифта*/
    color: #000000; /*Цвет шрифта*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}

p16 {
    text-align: center; /*Размещаем текст по центру*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 30px; /*Гегель шрифта*/
    color: #000000; /*Цвет шрифта*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}

p15 {
    text-align: center; /*Размещаем текст по центру*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 48pt; /*Гегель шрифта*/
    color: #8B0000; /*Цвет шрифта*/
    font-weight: bold; /* Полужирный*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}

/*Стиль для вставки картинки*/
IMG12 {
    float: right; /*прижат к левой или правой стороне родительского элемента*/
    padding-left: 10px; /*Внутрение отступы слева*/
    padding-bottom: 10px; /*Внутрение отступы поля от нижнего края */
}

/*Вид кнопки .button12*/
.button12 {
    background-color: #4169E1; /*Цвет кнопки*/
    min-width: 350px; /*Минимальная ширина*/
    color: white; /*Цвет шрифта*/
    padding: 16px 56px; /*Внутрение отступы*/
    text-align: center; /*Размещаем текст по центру*/
    font-size: 32px; /*Гегель шрифта*/
    /*Оформляем кнопку в виде квадратка с мягкими углами*/
    border-radius: 8px; /*Скругление границы*/
    border: 2px solid #E8E8E8;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
}

/*Вид кнопки .button12*/
.button13 {
    background-color: #4169E1; /*Цвет кнопки*/
    min-width: 250px; /*Минимальная ширина*/
    color: white; /*Цвет шрифта*/
    padding: 16px 56px; /*Внутрение отступы*/
    text-align: center; /*Размещаем текст по центру*/
    font-size: 48px; /*Гегель шрифта*/
    /*Оформляем кнопку в виде квадратка с мягкими углами*/
    border-radius: 8px; /*Скругление границы*/
    border: 2px solid #E8E8E8;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
}

/*Кастомный вид меню сверху*/
.navbar-custom {
    background-color: #F5F5F5; /*Цвет меню*/
}
    /*Дополнения к кастомному виду меню сверху*/
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #808080; /*Цвет шрифта*/
        font-family: 'Georgia',Georgia, serif; /*Шрифт*/
        padding: 16px 26px; /*Внутрение отступы для текста*/
        font-size: 24px; /*Гегель шрифта*/
    }

/*страница Камиллы*/

/*элемент для размецения информации*/
.jumbotron {
    padding: 200px;
    margin-bottom: 100px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: black;
    background: rgba(204, 204, 204, 0.5);
    /*background-color: #cbe43b;*/
}

.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}

.container .jumbotron {
    padding-right: 100px;
    padding-left: 100px;
}

.jumbotron h1 {
    font-size: 63px;
}
/*стиль заголовка*/
hK {
    font-family: STENCIL;
    color: #c50224;
    font-size: 30px;
    margin-left: 100px;
}
/*стиль кнопки*/
.button_ {
    border-radius: 4px;
    border: 1px solid #c50224;
    color: #c50224;
    background: white
}

pS1 {
    font-family: 'Georgia', Georgia, serif;
    color: #323b42;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

/*for headings*/
firstTitleS {
    font-family: 'Acumin Pro Extra Light';
    color: #323b42;
    font-size: 30px;
    margin-top: 30px; /*the amount of the offset from the upper edge of the element*/
}

/*for body text*/
bodyTextS {
    margin-top: 10px; /*the amount of the offset from the upper edge of the element*/
    font-family: Acumin Pro Extra Light;
    color: #323b42;
    font-size: 20px;
    text-align: justify; /*text alignment by width*/
}

/*to create a dotted line*/
hr {
    border: none; /*Sets the border style around the element*/
    border-top: 1px dashed #000; /*allows you to simultaneously set the thickness, style and color of the border on top of the element*/
}

/*for buttons on the page*/
.buttonS {
    border-radius: 5px; /*rouding a rectangular button*/
    border-color: #c50224; /*border color*/
    color: #c50224; /*text on the button color*/
    background: white;
    text-decoration: none; /*disable link underlining*/
    width: 100%;
    text-align: center; /*text alignment by width*/
    border: 2px solid #e34761; /*allows you to simultaneously set the thickness, style and color of the border*/
    display: block; /*The element is shown as a block element.*/
    padding-bottom: 10px; /*Sets the value of the field from the bottom edge of the element content.*/
    padding-top: 10px; /*Sets the field value from the top edge of the element content.*/
}

/*for headings */
textHeadingsS {
    font-family: Acumin Pro Extra Light;
    color: #323b42;
    font-size: 20px;
    margin-left: 40px; /*Sets the amount of indentation from the left edge of the element*/
    margin-top: 15px; /*Sets the amount of indentation from the top edge of the element.*/
}

/*delimeter*/
delimeterS {
    width: 10%;
}

/*to separate pages into parts*/
separateS {
    width: 50%;
}

/*to place elements in blocks*/
conteinerS {
    display: flex; /*horizontal table*/
}

/*for first level headings*/
firsttitleA {
    font-family: STENCIL;
    color: #c50224;
    font-size: 30px;
    margin-left: 350px; /*left distance*/
}

/*for second level headings*/
secondtitleA {
    font-family: STENCIL;
    color: #c50224;
    font-size: 20px;
}

/*for third level headings*/
thirdtitleA {
    font-family: Verdana;
    color: #c50224;
    font-size: 15px;
}

/*for separator lines in the menu at the bottom of the page*/
menulineA {
    color: #c50224;
    font-size: 20px;
}

/*for buttons in the menu at the bottom of the page*/
.menunumberButtonA {
    font-family: STENCIL;
    font-size: 20px;
    color: #1f2a6a;
    text-decoration: none; /*disable link underlining*/
}

/*for news blocks on the sides of the page*/
newsonthesidesA {
    width: 33.33333333333333%;
}

/*for news blocks in the center of the page*/
newsinthecenterA {
    width: 33.33333333333333%;
    margin-left: 10px; /*left distance*/
    margin-right: 10px; /*right distance*/
}

/*for dates*/
dateA {
    color: gray;
    face: Verdana; /*font*/
    size: 1;
}

/*for all buttons on the page*/
.buttonA {
    border-radius: 5px; /*rouding a rectangular button*/
    border: 1px; /*button border thickness*/
    solid #c50224; /*border color*/
    color: #c50224; /*text on the button color*/
    background: white;
    text-decoration: none; /*disable link underlining*/
}

/*for large volume of text*/
newstextA {
    margin-top: 10px; /*top distance*/
    font-family: Verdana;
    color: #1f2a6a;
}

/*to place elements in blocks*/
conteinerA {
    display: flex; /*horizontal table*/
}
