body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f0e1da;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Стиль, для обязательного заполнения*/
textarea:invalid,
input:invalid {
    border: 2px solid #954860; /*Границы стиля*/
}
/*Стиль, когда вводим неверное значение*/
    input:invalid:required,
    textarea:invalid:required {
        border: 2px solid #954860; /*Границы стиля*/
        color: red; /*Цвет шрифта*/
        background: #f1d5d5;
    }

/*Стиль, когда вводим в верном значение*/
input:valid,
textarea:valid {
    border: 2px solid black; /*Границы стиля*/
}

/* Стиль блока*/
.box1 {
    background: #bbb2b5; /* Цвет фона */
    padding: 10px; /* Поля */
}

/* Стиль заколовка*/
h12 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 48pt; /*Гегель шрифта*/
    font-weight: bold; /* Полужирный*/
    color: #954860; /*Цвет шрифта*/
}
/*Стиль текста p12*/
p12 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 28pt; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
}
pAU {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 48pt; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}
/*Стиль текста p13*/
p13 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 28pt; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
}
/*Стиль текста p14*/
p14 {
    text-align: center; /*Размещаем текст по центру*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 16pt; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}
/* Стиль заколовка*/
hAU1 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 72px; /*Гегель шрифта*/
    font-weight: bold; /* Полужирный*/
    color: #954860; /*Цвет шрифта*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}
p16 {
    text-align: center; /*Размещаем текст по центру*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 30px; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}

p15 {
    text-align: center; /*Размещаем текст по центру*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 48pt; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
    font-weight: bold; /* Полужирный*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}

/*Стиль для вставки картинки*/
IMG12 {
    float: right; /*прижат к левой или правой стороне родительского элемента*/
    padding-left: 10px; /*Внутрение отступы слева*/
    padding-bottom: 10px; /*Внутрение отступы поля от нижнего края */
}

/*Вид кнопки .button12*/
.button12 {
    background-color: #5269ae; /*Цвет кнопки*/
    min-width: 350px; /*Минимальная ширина*/
    color: white; /*Цвет шрифта*/
    padding: 16px 56px; /*Внутрение отступы*/
    text-align: center; /*Размещаем текст по центру*/
    font-size: 32px; /*Гегель шрифта*/
    /*Оформляем кнопку в виде квадратка с мягкими углами*/
    border-radius: 8px; /*Скругление границы*/
    border: 2px solid #E8E8E8;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
}
.buttonAU {
    background-color: #5269ae; /*Цвет кнопки*/
    min-width: 280px; /*Минимальная ширина*/
    color: white; /*Цвет шрифта*/
    padding: 16px 56px; /*Внутрение отступы*/
    text-align: center; /*Размещаем текст по центру*/
    font-size: 32px; /*Гегель шрифта*/
    /*Оформляем кнопку в виде квадратка с мягкими углами*/
    border-radius: 8px; /*Скругление границы*/
    border: 2px solid #E8E8E8;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
}
    /*Вид кнопки при нажатии .buttonHP*/
    .buttonAU:hover {
        background-color: #4169e1; /*Цвет заднего фона*/
        border-color: grey; /*Цвет границы*/
        color: black; /*Цвет шрифта*/
        text-decoration: none;
    }
.buttonAU1 {
    background-color: #5269ae; /*Цвет кнопки*/
    min-width: 280px; /*Минимальная ширина*/
    color: white; /*Цвет шрифта*/
    padding: 16px 56px; /*Внутрение отступы*/
    text-align: center; /*Размещаем текст по центру*/
    font-size: 32px; /*Гегель шрифта*/
    /*Оформляем кнопку в виде квадратка с мягкими углами*/
    border-radius: 8px; /*Скругление границы*/
    border: 2px solid #E8E8E8;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}
    /*Вид кнопки при нажатии .buttonHP*/
    .buttonAU1:hover {
        background-color: #4169e1; /*Цвет заднего фона*/
        border-color: grey; /*Цвет границы*/
        color: black; /*Цвет шрифта*/
        text-decoration: none;
    }
/*Вид кнопки .button12*/
.button13 {
    background-color: #5269ae; /*Цвет кнопки*/
    min-width: 250px; /*Минимальная ширина*/
    color: white; /*Цвет шрифта*/
    padding: 16px 56px; /*Внутрение отступы*/
    text-align: center; /*Размещаем текст по центру*/
    font-size: 48px; /*Гегель шрифта*/
    /*Оформляем кнопку в виде квадратка с мягкими углами*/
    border-radius: 8px; /*Скругление границы*/
    border: 2px solid #E8E8E8;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
}

/*Кастомный вид меню сверху*/
.navbar-custom {
    background-color: #bbb2b5; /*Цвет меню*/
}
    /*Дополнения к кастомному виду меню сверху*/
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #6c6974; /*Цвет шрифта*/
        font-family: 'Georgia',Georgia, serif; /*Шрифт*/
        padding: 16px 26px; /*Внутрение отступы для текста*/
        font-size: 24px; /*Гегель шрифта*/
    }

/*страница Камиллы*/

/*элемент для размецения информации*/
.jumbotron {
    padding: 200px;
    margin-bottom: 100px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: black;
    background: #bbb2b5;
    /*background-color: #cbe43b;*/
}

.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}

.container .jumbotron {
    padding-right: 100px;
    padding-left: 100px;
}

.jumbotron h1 {
    font-size: 63px;
}
/*стиль заголовка*/
hK {
    font-family: 'Georgia', Georgia, serif; /*Шрифт*/
    color: #954860;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold; /* Полужирный*/
}
.button_ {
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    color: white;
    background-color: #5269ae;
    border-color: grey; /*Цвет границы*/
    font-family: 'Georgia', Georgia, serif; /*Шрифт*/
    text-align: center;
}

pS1 {
    font-family: 'Georgia', Georgia, serif;
    color: #954860; /*Цвет шрифта*/
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold; /* Полужирный*/
}

/*for headings*/
firstTitleS {
    font-family: 'Georgia', Georgia, serif;
    color: #954860;
    font-size: 30px;
    font-weight: bold; /* Полужирный*/
    margin-top: 30px; /*the amount of the offset from the upper edge of the element*/
}

/*for body text*/
bodyTextS {
    margin-top: 10px; /*the amount of the offset from the upper edge of the element*/
    font-family: Acumin Pro Extra Light;
    color: black;
    font-size: 20px;
    text-align: justify; /*text alignment by width*/
}

/*to create a dotted line*/
hr {
    border: none; /*Sets the border style around the element*/
    border-top: 1px dashed #000; /*allows you to simultaneously set the thickness, style and color of the border on top of the element*/
}

/*for buttons on the page*/
.buttonS {
    border-radius: 5px; /*rouding a rectangular button*/
    border-color: #954860; /*border color*/
    color: #954860; /*text on the button color*/
    background: white;
    text-decoration: none; /*disable link underlining*/
    width: 100%;
    text-align: center; /*text alignment by width*/
    border: 2px solid #954860; /*allows you to simultaneously set the thickness, style and color of the border*/
    display: block; /*The element is shown as a block element.*/
    padding-bottom: 10px; /*Sets the value of the field from the bottom edge of the element content.*/
    padding-top: 10px; /*Sets the field value from the top edge of the element content.*/
}

/*for headings */
textHeadingsS {
    font-family: 'Georgia', Georgia, serif;
    color: #954860;
    font-size: 20px;
    font-weight: bold; /* Полужирный*/
    margin-left: 40px; /*Sets the amount of indentation from the left edge of the element*/
    margin-top: 15px; /*Sets the amount of indentation from the top edge of the element.*/
}

/*delimeter*/
delimeterS {
    width: 10%;
}

/*to separate pages into parts*/
separateS {
    width: 50%;
}

/*to place elements in blocks*/
conteinerS {
    display: flex; /*horizontal table*/
}

/*for first level headings*/
firsttitleA {
    font-family: 'Georgia', Georgia, serif;
    color: #954860;
    font-weight: bold; /* Полужирный*/
    font-size: 48pt;
    margin-left: 300px; /*left distance*/
}

/*for second level headings*/
secondtitleA {
    font-family: 'Georgia', Georgia, serif;
    color: #954860;
    font-size: 24px;
}

/*for third level headings*/
thirdtitleA {
    font-family: 'Georgia', Georgia, serif;
    color: #954860;
    font-size: 24px;
}

/*for separator lines in the menu at the bottom of the page*/
menulineA {
    color: #954860;
    font-size: 20px;
}

/*for buttons in the menu at the bottom of the page*/
.menunumberButtonA {
    font-family: STENCIL;
    font-size: 20px;
    color: #1f2a6a;
    text-decoration: none; /*disable link underlining*/
}

/*for news blocks on the sides of the page*/
newsonthesidesA {
    width: 33.33333333333333%;
}

/*for news blocks in the center of the page*/
newsinthecenterA {
    width: 33.33333333333333%;
    margin-left: 10px; /*left distance*/
    margin-right: 10px; /*right distance*/
}

/*for dates*/
dateA {
    margin-top: 10px; /*the amount of the offset from the upper edge of the element*/
    font-family: Acumin Pro Extra Light;
    color: grey;
    font-size: 20px;
    text-align: right
}


/*for all buttons on the page*/
.buttonA {
    border-radius: 5px; /*rouding a rectangular button*/
    border: 1px; /*button border thickness*/
    
    color: #c50224; /*text on the button color*/
    background: white;
    text-decoration: none; /*disable link underlining*/
}

/*for large volume of text*/
newstextA {
    margin-top: 10px; /*top distance*/
    font-family: Verdana;
    color: #1f2a6a;
}

/*to place elements in blocks*/
conteinerA {
    display: flex; /*horizontal table*/
}
/*скрытие элемента*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
    /*появление элемента*/
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
/*Всплывающиеся окно*/
.popup {
    margin: 70px auto; /*Внешние отступы*/
    padding: 20px; /*Внутрение отступы*/
    background: #fff; /*задний фон*/
    border-radius: 5px; /*закругленные края*/
    width: 39%; /*ширина*/
    position: relative;
    transition: all 5s ease-in-out;
}
    /*Шрифт заголовков*/
    .popup h1 {
        margin-top: 0;
        color: #bb64a1; /*Цвет шрифта*/
        font-size: 48px; /*Гегель шрифта*/
        text-align: center; /*Размещаем текст по центру*/
        font-weight: bold; /* Полужирный*/
        font-family: VCR OSD Mono,monospace; /*Шрифт*/
    }
    /*Шрифт основного текста*/
    .popup p1 {
        margin-top: 0;
        color: black; /*Цвет шрифта*/
        font-size: 24px; /*Гегель шрифта*/
        text-align: justify; /*Размещаем текст по ширине*/
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*Шрифт*/
    }
    /*закритие окна*/
    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #954860; /*Цвет на крестик*/
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }
/*for body text*/
bodyTextAu {
    margin-top: 14px; /*the amount of the offset from the upper edge of the element*/
    font-family: Acumin Pro Extra Light;
    color: black;
    font-size: 28px;
    text-align: justify; /*text alignment by width*/
}

/*for headings*/
firstTitleUA1 {
    font-family: 'Georgia', Georgia, serif;
    color: #954860;
    font-size: 30px;
    font-weight: bold; /* Полужирный*/
    margin-top: 30px; /*the amount of the offset from the upper edge of the element*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}
/*for news blocks in the center of the page*/
newsinthecenterA {
    width: 33.33333333333333%;
    margin-left: 10px; /*left distance*/
    margin-right: 10px; /*right distance*/
}

/*to place elements in blocks*/
conteinerA {
    display: flex; /*horizontal table*/
}

/*for news blocks on the sides of the page*/
newsonthesidesA {
    width: 33.33333333333333%;
}

/*Стиль для вставки фотографий творцов проекта*/
.circular--portrait {
    float: left; /*расположение слева*/
    position: relative;
    width: 80px; /*ширина*/
    height: 80px; /*высота*/
    overflow: hidden;
    border-radius: 50%; /*Закругляем края*/
    margin: 10px; /*Внешние отступы*/
}

    .circular--portrait img {
        width: 100%;
        height: auto;
    }
    .circular--portrait:hover {
        border: 5px inset;
        border-color: #954860; /*Цвет выделения*/
    }

input.A {
    border: 0px; /*Границы стиля*/
    background: #ea9dbd;
    width: 250px;
    background-color: transparent;
    color:white;
}

/*Стиль для вставки фотографий творцов проекта*/
.circular--portraitV {
    float: left; /*расположение слева*/
    position: relative;
    width: 200px; /*ширина*/
    height: 200px; /*высота*/
    overflow: hidden;
    border-radius: 50%; /*Закругляем края*/
    margin: 10px; /*Внешние отступы*/
}

    .circular--portraitV img {
        width: 100%;
        height: auto;
    }
/*Стиль для вставки фотографий творцов проекта*/
.circular--portraitA {
  
    position: relative;
    width: 200px; /*ширина*/
    overflow: hidden;
    margin: 10px; /*Внешние отступы*/
    /*Размещение по центру*/
    display: table; /*тип отображения*/
    margin: 0 auto 0 auto; /*внешние отступы*/
}

    .circular--portraitA img {
        width: 100%;
        height: auto;
    }
pAU1 {
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 28pt; /*Гегель шрифта*/
    color: #954860; /*Цвет шрифта*/
}
/*Стиль для вставки фотографий творцов проекта*/
.circular--portraitVA {
    float: left; /*расположение слева*/
    position: relative;
    width: 150px; /*ширина*/
    height: 150px; /*высота*/
    overflow: hidden;
    border-radius: 50%; /*Закругляем края*/
    margin: 10px; /*Внешние отступы*/
}

    .circular--portraitVA img {
        width: 100%;
        height: auto;
    }

table { /*стиль таблицы*/
    /*стиль границ*/
    border: 2px solid #954860;
    border-collapse: collapse;
    width: 30%;
}

.table-style {
    width: 30%;
}

th, td {
    padding: 5px; /*Внутрение отступы*/
    font-family: 'Georgia',Georgia, serif; /*Шрифт*/
    font-size: 16pt; /*Гегель шрифта*/
    color: black; /*Цвет шрифта*/
    border: solid 3px #954860;
    text-align: justify; /*текст по центру*/
}

th {
    background-color: #bbb2b5; /*Цвет заднего фона*/
}
